{% extends "base.html" %}

{% block title %}SSH Manager{% endblock %}

{% block content %}
<div class="row col-12 col-sm-12 col-lg-12">
Connecting....<br>
ID: {{idSSH}}
{% with obj as a %}
   <textarea id="area"></textarea>
   <button hidden="none" id="send">Send command</button>
   <button id="connect">Connect</button>
   <button hidden="none" id="disconnect">Disconnect</button>
{% endwith %}


</div>
<script>

	$("#connect").click(function(){

		$.ajax({
			type:"POST",
			url:'connect',
			data:{
				'id':'{{a.id}}',
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			async:true,
			dataType: 'json',
			success: function(data){
				$("#area").append(data.status+'\n');
				if (data.code==1){
					$("#connect").attr("hidden","none");
					$("#send").removeAttr("hidden");
					$("#disconnect").removeAttr("hidden");
				}
			}
		});
	});
	$("#disconnect").click(function(){
		$.ajax({
			type:"POST",
			url:"disconnect",
			data:{
				'id':'{{a.id}}',
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			dataType:"json",
			success: function(){

			}
		});
	});
</script>


{% endblock %}
