{% extends "base.html" %}

{% block title %}SSH Connection{% endblock %}

{% block content %}
<div class="row col-12 col-sm-12 col-lg-12">


   <textarea id="area" rows="15" cols="100" readonly></textarea>
   <input id="cmd" type="text" size="100" disabled="True">
   <button id="send" hidden="none">Send command</button>
   <button id="connect"> connect</button>
   <button id="disconnect" hidden="none"> disconnect</button>
   <!-- <button id="connect">Connect</button>
   <button hidden="none" id="disconnect">Disconnect</button> -->



</div>
<script>

	var idconnection = {{obj.id}}
	var sshSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/ssh/' + idconnection + '/');

	sshSocket.onmessage = function(e){
		var data = JSON.parse(e.data);
		var message =data['message'];
		if(message=="Connect successfully"){
			$("#connect").hide();
			$("#send").show();
      $("#disconnect").show();
      $("#cmd").removeAttr("disabled");
		}

		$("#area").append(message+'\n');

	}

	sshSocket.onclose =function(e){
		console.error('SSH socket is closed');
	}

	document.querySelector("#cmd").onkeyup = function(e){
		if(e.keyCode === 13){
			document.querySelector("#send").click();
		}
	}

	document.querySelector('#send').onclick = function(e) {
		var cmd = document.querySelector("#cmd").value.trim();
        if(cmd!=''){
        	sshSocket.send(JSON.stringify({
            	'message': cmd
        	}));
        	document.querySelector("#cmd").value ='';
        }
    };
    document.querySelector('#connect').onclick = function(e) {
		sshSocket.send(JSON.stringify({
            	'message': 'connect:{{obj.id}}'
        	}));
    };
    document.querySelector('#disconnect').onclick = function(e) {
		sshSocket.send(JSON.stringify({
            	'message': 'disconnect'
        	}));
    };

    

</script>
{% endblock %}
