{% extends "base.html" %}

{% block title %}SSH Connection{% endblock %}

{% block content %}

{% if obj.sshconnection.count > 0 and obj.permission %}
	<table class="table">
		<thead>
			<tr>
				<th>IP</th>
				<th>Port</th>
				<th>Connect</th>
			</tr>
		</thead>
		<tbody>
		{% for i in obj.sshconnection.all %}
		<tr>
			<td>{{i.ip}}</td>
			<td>{{i.port}}</td>
			<td><a href="{% url 'ssh:detail' i.id %}" class="btn btn-primary">Access</a></td>
		</tr>	
		
		{% endfor %}
		</tbody>			
		</tbody>		

{% else %}
	You do not have any ssh connection!
{% endif %}
</div>
{% endblock %}