{% extends "base.html" %}


{% block title %}SSH Manager{% endblock %}


{% block content %}

<table class="table">
    <thead>
      <tr>
        <th>IP</th>
        <th>PORT</th>
        <th>Manage User</th>
        <th>Monitor</th>
      </tr>
    </thead>
    <tbody>
    	{% if object %}
    		{% for i in object %}
    			<tr>
    				<td>{{i.ip}}</td>
    				<td>{{i.port}}</td>
    				<td><button type="button" class="btn btn-success viewUser" id="{{i.id}}" data-toggle="modal" data-target="#myModal">View</button> <button type="button" class="btn btn-info addUser" id="{{i.id}}" data-toggle="modal" data-target="#myModal1">Add</button></td>
    				<td><a href="{% url 'ssh:monitor' i.id %}" type="button" class="btn btn-primary"">Go</a></td>
    			</tr>	
    		{% endfor %}
    	{% endif %}
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User can use connection</h4>
        </div>
        <div class="modal-body" id="hienthi">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>User</th>
        				<th>Action</th>
        			</tr>	
        		</thead>
        		<tbody id="DisplayUser">
        		</tbody>
        	</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal Add -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User can use connection</h4>
        </div>
        <div class="modal-body">
        	<div>Enter username</div>
        	<input type="text" class="form-control" id="usr">
        	<div id="msg" style="color:red"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary SaveUser">Save changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
{% block footer %}

Footer
{% endblock %}